{% csrf_token %} <!-- 위조 방지 -->

    <fieldset>
        <legend><h1>{{ exam.title }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <h2>[ {{ stu_num }} 성적 ]</h2>
        {% for s in answer %}
            <div style="margin: 20px;">
                <div>
                    <h3 style="display: inline;">문제 : </h3>
                    {{ s.question.question_text }}
                </div>
                <div>
                    <h3 style="display: inline;">답 : </h3>
                    {{ s.correct }}
                </div>            
                <hr>
            </div>
        {% endfor %}
    </fieldset>


    <h2>점수 : {{score}} / {{total}}점</h2>

    <a href="{% url 'polls:results' exam.id %}">성적 통계 보기</a>